{% extends 'blog/base.html' %}
{% load static %}
		{% block news%}
		<div id="wrapper">
			<div id="page">
				<div class="container">
					<div class="row  skel-cell-important" id="content">
						<div class="12u">
							<section>
								<div class="post">
									<h2>SPORT</h2>
									
									<p style='font-size:200%'>Barcelona boss Ronald Koeman says the video assistant referee system seems to be "only used to make decisions against Barca" after Sergio Ramos' penalty helped Real Madrid win El Clasico. </p>
									<a href="#"><img src="{% static 'images/photo-5.jpg' %}" alt=""></a>	
									<p>&nbsp;</p>
										<p><br>
											Barcelona's Ansu Fati, 17, levelled from Jordi Alba's cross, becoming the youngest scorer in El Clasico history.
											
											Ramos scored from the spot and Luka Modric smashed in a late third.
											
											The turning point was a lengthy VAR decision for the Ramos penalty. Referee Juan Martínez Munuera did not spot Clement Lenglet's pull on Ramos' shirt but eventually gave a penalty after viewing it on the screen.
											
											Barca had two penalty appeals turned down - for a Raphael Varane challenge on Lionel Messi and a possible Varane handball.
											
											"I don't understand VAR, I think it is only used to make decisions against Barca," said Koeman, whose side have only picked up seven points from five games.
											
											"You always get shirt tugs like that in the area and I think Ramos makes a foul on Lenglet first.
											<br> There's a tug of the shirt, but not enough to make him fall behind as he did. For me it's not a penalty.
											
											"We have had five matches and [VAR] has only been used to go against Barca. It's never gone our way.
											
											"The decision had a big influence on the final result, because we were playing well up to the penalty."
											
											Ramos said: "I think it was a very clear penalty. He tugged my shirt when I was jumping for the ball and it's as clear as daylight. It's unfair to criticise a referee for a decision as clear as that."
											
											The result takes Real top of the fledgling La Liga table with 13 points from six games, six points above Barcelona.
										    Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor enim accumsan lacinia. <br>
										<br>
									</p>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% endblock %}