{% extends 'blog/base.html' %}
{% load static %}
		{% block news%}
		<div id="wrapper">
			<div id="page">
				<div class="container">
					<div class="row  skel-cell-important" id="content">
						<div class="12u">
							<section>
								<div class="post">
									<h2>SOCIETY</h2>
									
									<p style='font-size:200%'>Nigeria protests: Police chief deploys 'all resources' amid street violence </p>
									<a href="#"><img src="{% static 'images/SOCIETY.jpg' %}" alt=""></a>	
									<p>&nbsp;</p>
										<p><br>
											Nigeria's chief of police has ordered the immediate mobilisation of all police resources to put an end to days of street violence and looting.

											Mohammed Adamu said criminals had hijacked anti-police brutality protests and taken over public spaces.

											He said this was no longer acceptable. Police officers said they had been ordered to end the "violence, killings, looting and destruction of property".

											Protests calling for an end to police brutality began on 7 October.

											The demonstrations, dominated by young people, started with calls for a police unit, the Special Anti-Robbery Squad (Sars), to be disbanded.

											How the End Sars protests have changed Nigeria forever
											President Muhammadu Buhari dissolved the Sars unit - accused of harassment, extortion, torture and extra-judicial killings - days later, but the protests continued, demanding broader reforms in the way Nigeria is governed.

											They escalated after unarmed protesters were shot in the nation's biggest city, Lagos, on Tuesday. Rights group Amnesty International said security forces killed at least 12 people. Nigeria's army has denied any involvement.

											Lagos has in recent days seen widespread looting of shops, malls and warehouses, and property has been damaged, with the businesses of prominent politicians targeted. A number of buildings have been torched and prisons attacked.

											Elsewhere on Saturday, there were reports of hundreds of people looting government warehouses in Bukuru, near the central city of Jos.

											The warehouses were reportedly being used to store food supplies for distribution during lockdowns imposed to help control the spread of Covid-19.
											<br> </br>

											President Buhari has said that at least 69 people have died in street violence since the protests across Nigeria began - mainly civilians but also police officers and soldiers.

											On Saturday, the Nigerian police force tweeted that Mr Adamu, the Inspector General of Police, had told them "enough is enough" and ordered officers to "use all legitimate means to halt a further slide into lawlessness".

											It added that Mr Adamu "warns troublemakers not to test the collective will of the nation by coming out to cause any further breakdown of law and order".

											A group that has been key in organising the demonstrations in Lagos had on Friday urged people to stay at home.

											The Feminist Coalition also advised people to follow any curfews in place in their states.

											The group said it would no longer be taking donations for the #EndSARS protests.
											<br>
										<br>
									</p>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% endblock %}