{% extends 'blog/base.html' %}
{% load static %}
		{% block news%}
		<div id="wrapper">
			<div id="page">
				<div class="container">
					<div class="row  skel-cell-important" id="content">
						<div class="12u">
							<section>
								<div class="post">
									<h2>POLITIC</h2>
									
									<p style='font-size:200%'>US election 2020: Trump in three-state campaign blitz after casting vote </p>
									<a href="#"><img src="{% static 'images/POLITIC.jpg' %}" alt=""></a>	
									<p>&nbsp;</p>
										<p><br>
											President Donald Trump has conducted a three-state campaign blitz after voting early in Florida.
											He hopped between rallies in North Carolina, Ohio and Wisconsin on Saturday as he sought to make up ground against his Democratic challenger Joe Biden.
											Mr Biden, who holds a steady lead in national polls, campaigned in Pennsylvania, another key state.
											Some 57 million votes have already been cast, a record spurred by the pandemic.
											The Republican president has continued to hold packed rallies despite a new surge in coronavirus infections that is particularly affecting the Midwest - home to several electoral battlegrounds that could decide the election.
											Speaking in Lumberton, North Carolina, Mr Trump said America's coronavirus pandemic had been blown out of proportion and mocked his Democratic rival for making ominous warnings about a bleak winter.
											Why early voting is so popular in the US election
											Win or lose, Trump has already changed the world
											Why we might not get a result on election night
											In contrast, Mr Biden held a drive-in rally in Bristol, Pennsylvania where he told supporters: "We don't want to become superspreaders."
											Meanwhile the chief of staff for Vice-President Mike Pence has tested positive for Covid-19 but Mr Pence and his wife have tested negative, a spokesperson said. They plan to continue their busy campaign schedule despite Mr Pence being a close contact of an infected person.
											With just 10 days to go until the November 3 election, Joe Biden holds an average eight-point lead in national polls over Donald Trump.
											But the race is much closer in several important swing states.
											<br> </br>
											<p style='font-size:150%'>Where are the campaigns targeting? </p>
											Most US states lean heavily towards one party or the other, so presidential candidates usually focus on a dozen or so "battleground" states where either of them could win.

											States like Michigan, Wisconsin, Pennsylvania, Florida, Ohio and North Carolina are viewed as the most influential because they have historically swung between Republican and Democrat candidates. 
											They also have high numbers of electoral college votes, which decide the outcome of the election.
											<br>
										<br>
									</p>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% endblock %}